<header class="bg-sw-black min-h-[80px] px-16 flex items-center">
  <div class="min-w-36 w-36">
    <a routerLink="/">
      <sw-logo />
    </a>
  </div>
  <nav class="flex-1">
    <ul class="w-full flex items-center justify-end gap-4">
      <li>
        <a
          routerLink="/register"
          class="px-4 py-2 rounded-lg border border-solid border-sw-blue text-sw-white capitalize text-sm font-medium block transition-colors duration-300 ease-in-out hover:bg-sw-blue hover:text-sw-white"
          >register</a
        >
      </li>

      <li>
        <a
          routerLink="/login"
          class="px-4 py-2 rounded-lg bg-sw-blue text-sw-white capitalize text-sm font-medium block transition-opacity duration-300 ease-in-out hover:opacity-80"
          >login</a
        >
      </li>
    </ul>
  </nav>
</header>
